{%  load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon2.png' %}">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta charset="UTF-8">
    <title>{% block title %}ChatIA{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">

<header class="bg-dark text-white p-3" style="margin-top : 0 ;padding-top : 0;">
    <img src = "{% static 'img/header2.png' %}"  alt="logo" height="100" >
    <a href="/" class="text-white text-decoration-none"><h1>ChatIA</h1></a>
    {% if user.is_authenticated %}
        <div class="text-center">
        <span><h2>Bienvenido </h2><strong>{{ user.username }}</strong> </span>
        </div>
    {% endif %}
</header>

<nav class="navbar navbar-expand bg-secondary">
    <div class="container-fluid">
        <ul class="navbar-nav flex-row">
            {% if request.path != '/' %}
            <li class="nav-item"><a class="nav-link text-white" href="/">Principal</a></li>
            {% endif %}
            {% if request.path != '/chat/' %}
            <li class="nav-item"><a class="nav-link text-white" href="/chat/">Chats</a></li>
            {% endif %}
            {% if request.path != '/perfil/' %}
            <li class="nav-item"><a class="nav-link text-white" href="/perfil/">Perfil</a></li>
            {% endif %}
            {% if request.path != '/ayuda/' %}
            <li class="nav-item"><a class="nav-link text-white" href="/ayuda/">Ayuda</a></li>
            {% endif %}
            {% if request.path != '/admin/' %}
             <li class="nav-item"><a class="nav-link text-white" href="/admin/">Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <form method="post" action="/logout/" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="nav-link text-white btn-link"
                style="text-decoration:none; padding: 8px 16px">Logout</button>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main class="container mt-4 flex-grow-1">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-dark text-white text-center p-3 mt-4">
    <p>ChatIA — Proyecto Final</p>
    <div class ="container py-2   text-center  small">
        <span> Conversaciones totales : <strong>{{ total_conversaciones }}</strong></span>
        <span> Mensajes totales : <strong>{{ total_mensajes }}</strong></span>
        {% if user.is_authenticated %}
            <span>Tus Conversaciones : <strong>{{ conv_usuario }}</strong></span>
            <span>Tus  Mensajes :<strong>{{ mensa_usuario }}</strong></span>
        {% endif %}

    </div>
</footer>
<script>
    document.body.addEventListener('htmx:afterSwap', function(e) {
        const mensajes = document.getElementById('mensajes');
        if (mensajes) {
            mensajes.scrollTop = mensajes.scrollHeight;
        }
    });
</script>
</body>
</html>
