
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <meta charset="UTF-8">
    <title>{% block title %}ChatIA{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<header class="bg-dark text-white p-3">
    <a href="/" class="text-white text-decoration-none"><h1>ChatIA</h1></a>
    {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
    {% endif %}
</header>

<nav class="navbar navbar-expand bg-secondary">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-white" href="/">Principal</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/chat/">Chats</a></li>
        <li class="nav-item"><form method="post" action="/logout/" class="d-inline">
        {% csrf_token %}
        <button type="submit" class=" nav-link text-white btn-link"
        style="text-decoration:none; padding: 8px 16px ">Logout</button>
            </form>
        </li>
    </ul>
</nav>

<main class="container mt-4">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-dark text-white text-center p-3 mt-4">
    <p>ChatIA — Proyecto Final</p>
    <div class ="container py-2 text-center text-muted small">
        <span> Conversaciones totales : <strong>{{ total_conversaciones }}</strong></span>
        <span> Mensajes totales : <strong>{{ total_mensajes }}</strong></span>
        {% if user.is_authenticated %}
            <span>Tus Conversaciones : <strong>{{ conv_usuario }}</strong></span>
            <span>Tus  Mensajes :<strong>{{ mensa_usuario }}</strong></span>
        {% endif %}

    </div>
</footer>
<script>
    document.body.addEventListener('htmx:afterSwap', function(e) {
        const mensajes = document.getElementById('mensajes');
        if (mensajes) {
            mensajes.scrollTop = mensajes.scrollHeight;
        }
    });
</script>
</body>
</html>
